@using QuanLyNhanVien_Client.ViewModel;

@model NhanVienViewModel

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg">
                <img width="100%" alt="user" src="~/Design/plugins/images/large/hrm-hero-1200.png">
                <div class="overlay-box">
                    <div class="user-content">
                        <a href="javascript:void(0)"><img src="~/Design/plugins/images/users/img12.png" class="thumb-lg img-circle" alt="img"></a>
                        <h4 style="color:black;" class="text-white">@Html.DisplayFor(x => x.nhanviens.HoTen)</h4>
                        <h5 style="color:black;" class="text-white">@Html.DisplayFor(x => x.nhanviens.Email)</h5>
                    </div>
                </div>
            </div>
            <div class="user-btm-box">
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-purple"><i class="ti-facebook"></i></p>
                    <h1>258</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-blue"><i class="ti-twitter"></i></p>
                    <h1>125</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                    <h1>556</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <form class="form-horizontal form-material">
                <!--Name Employee-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.HoTen, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.HoTen, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Sex-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.GioiTinh, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.GioiTinh, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--BirthPlace-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.NgaySinh, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.NgaySinh,"{0:d}", htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--CMND-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.CMND, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.CMND, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Nation-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.QuocGia, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.QuocGia, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Religion-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.TonGiao, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.TonGiao, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Current Address-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.DiaChiHienTai, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.DiaChiHienTai, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Phone-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.SoDienThoai, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.SoDienThoai, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Email-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.Email, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.Email, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>
                <!--Work status-->
                <div class="form-group">
                    @Html.LabelFor(x => x.nhanviens.TinhTrangLamViec, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.nhanviens.TinhTrangLamViec, htmlAttributes: new { @class = "form-control form-control-line", @disabled = "disabled" })
                    </div>
                </div>

                <!--Back to list-->
                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.ActionLink("Back to list", "Index", "NhanVien")
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        @Html.ActionLink("Update Informartion", "EmployeeEdit", new { id = Model.nhanviens.MaNhanVien })
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->
